<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CUETools.Codecs" version="1.0.2" targetFramework="net461" />
  <package id="CUETools.Codecs.FLAKE" version="1.0.5" targetFramework="net461" />
  <package id="MediaToolkit" version="1.1.0.1" targetFramework="net461" />
  <package id="NAudio" version="1.10.0" targetFramework="net461" />
  <package id="NAudio.Flac" version="1.0.5702.29018" targetFramework="net461" />
  <package id="taglib" version="2.1.0.0" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>